header > h1 {
	padding: 30px 0px;
	text-align: center;
	font-size: 4em;
	font-family: Georgia, "Times New Roman", Times, serif;
	/* background-color: #dddddd; */
}
header {
	background-color: #dddddd;
}

article {
	text-align: center;
}

table {
	display: inline;
	font-size: 2em;
	padding: 70px 0px;
}
table * {
	margin: 3px;
}
input {
	font-size: 30px;
}
#projectCode {
	width: 250px;
	height: 100px;
}
#startTime,
#endTime {
	width: 180px;
	height: 100px;
}

#submitButton {
	width: 180px;
	height: 100px;
}
